* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: #f8eede;
}
header {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    height: 40px;
    background-color: #1c1f26;
}
header img{
    height: 100%;
}

nav{
    display: flex;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    height: 65px;
    text-transform: uppercase;
}
nav > a > img {
    width: 170px;
    margin: 0px 20px;
    margin-left: 50px;
}
ol{
    width: 1000px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 22px;
    height: 35px;
    line-height: 200%;
}
ol a{
    color: #000000;
    text-decoration: none;
    display: block;
}
ol > li{
    float: left;
    width: 150px;
    height: 40px;
}
ol > li:hover{
    background-color: white;
}
ol > li:hover > a{
    color: rgb(255, 79, 30);
}
ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}
ol > li > ul > li{
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #000000;
}
ol > li > ul > li:hover{
    background-color: rgb(255, 79, 30);
}
ol > li > ul > li:hover > a{
    color: black;
} 
ol > li:hover > ul{
    display: block;
}
.poczatek {
    background-image: url("pliki/tlo.jpg");
    display: flex;
    width: 100%;
    height: 600px;
    padding: 0 5%;
    margin: auto;
}
.zdjecie_poczatek {
    width: 50%;
}
.poczatek img{
    width: 100%;
}
.text_poczatek {
    width: 50%;
}
.text_poczatek h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 80px;
}
.text_poczatek h2 {
    text-align: center;
    padding: 0px 70px;
    font-size: 30px;
}
.zagraj_w_fifa{
    margin-top: 100px;
    background-color: #a38e6a;
    padding: 0 100px;
}
.zagraj_w_fifa > h2{
    margin-bottom: 100px;
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
}
.flex_zagraj_w_fifa {
    display: flex;
    height: 800px;
    justify-content: space-between;
}
.flex_zagraj_w_fifa div{
    width: 48%;
}
.flex_zagraj_w_fifa div img{
    margin: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}
.flex_zagraj_w_fifa div h3{ 
    width: 100%;
    font-size: 50px;
}
.flex_zagraj_w_fifa div p{ 
    padding: 5px;
    width: 100%;
    font-size: 35px;
}
.nowosci_h2 > h2 {
    text-align: center;
    margin: 100px;
    font-size: 75px;
    color: #1c1f26;
}
.nowosci {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nowosci > div {
    height: 800px;
    width: 49.5%;
}
.nowosci > div > img {
    width: 100%;
}
.nowosci > div > h3 {
    font-size: 40px;
    margin: 10px 50px;
}
.nowosci > div > p {
    font-size: 25px;
    margin: 0px 50px;
}
.wiecej_w_fifa {
    background-color: #a38e6a;
    margin-top: 125px;
}
.wiecej_w_fifa_flex {

}
.wiecej_w_fifa h2{
    margin-bottom: 100px;
    text-align: center;
    font-size: 65px;
}
.wiecej_w_fifa_flex {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
.wiecej_w_fifa_flex > div{
    padding: 25px 20px;
    background-color: #1c1f26;
    height: 150px;
    width: 300px;
    font-size: 27px;
    color: white;
    margin-bottom: 100px;
}


.kluby_h1 > h1{
    margin: 50px 0;
    font-size: 60px;
    text-align: center;
}
.kluby {
  height: 600px;
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-around
}
.klub {
    border-radius: 25px;
  width: 400px;
  height: 500px;
  background-color: #a38e6a;
  display: flex;
  flex-direction: column;
}
.img_klubu {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
}
.img_klubu img{
    height: 100%;
    padding: 5px;
  }
.klub h2 {
    font-size: 50px;
    text-align: center;
}
.klub p {
    padding:  10px 25px;
    text-align: justify;
    font-size: 20px;
}
footer {
    display: flex;
    background-color: white;
    height: 200px;
}
footer img{
    width: 400px;
    margin: 40px;
}
footer p{
    font-size: 45px;
    margin-top: 60px;
    margin-left: 500px;
}